vendor
*.sw?
Vagrantfile.bak
*~
*#
*.bak
*.iml
.idea
*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
lib/bundler/man
pkg
rdoc
*/test/version_tmp
tmp
*.bundle
*.so
*.o
*.a
mkmf.log
.vagrant
.project
.tmp/
playbook.retry
tmp/
roles/example_role/
logs/ansible.log
.ansible/ansible_password
.ansible/id_rsa
.ansible/id_rsa.pub
